* {
	font-family: 'Roboto', sans-serif;
}

body {
	margin-top: 20px !important;
}

div.heading {
	padding: 15px;
	border-radius: 5px;

	border: 1px solid black;
}

.profileImg {
	text-align: center;
	width: 100px;
	height: 100px;
	
}

img {
	max-height:100%;
	max-width:100%;
	border-radius: 5px;
}

div.contacts {
	margin-top: 30px;
	padding: 25px;
	border-radius: 5px;
	border: 1px solid black;
}

div.about {
	margin-top: 30px;
	padding: 25px;

	border-radius: 5px;

	border: 1px solid black;
}